<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credentials Updated</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="../static/images/logo_light.png" type="image/png">
</head>
<body>

    <div class="card">

        <div class="avatar">
            <div class="avatar-circle"></div>
            <div class="avatar-body"></div>
        </div>


        <div>
        <h2>Credentials updated</h2>
        <p class="form-text">Your password has been successfully updated.</p>

        <button type="button" class="btn-primary" onclick="window.location.href='/'">
            Go to Log In
        </button>


        </div>

    </div>

</body>
</html>
