<!DOCTYPE html>
<html>
<head>
    <title>Verification Error</title>
    <link rel="icon" href="../static/images/logo_light.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="card">

    <div class="avatar">
        <div class="avatar-circle"></div>
        <div class="avatar-body"></div>
    </div>  

    <h2>Invalid or Expired Link</h2>
    <p>This verification link is invalid or already used.</p>

    <button onclick="window.location.href='/'" class="btn-primary">
        Back to Login
    </button>

</div>

</body>
</html>
